* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Times, 'Times New Roman', serif;
}

html {
  font-size: 62.5%;
}

body {
  background-color: rgb(181, 200, 240);
}

h1 {
  font-size: 3.2rem;
  margin: 2rem;
  text-align: center;
}

h2 {
  font-size: 2.4rem;
}

p {
  margin: 2rem 0;
  color: rgba(21, 19, 60, 0, 5);
  display: inline-block;
}

span {
  text-transform: capitalize;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 4rem;
}

.card {
  min-width: 20rem;
  width: 40vw;
  padding: 4rem;
  background-color: rgb(189, 230, 163);
}

.card-btn {
  display: flex;
  justify-content: space-between;
  text-decoration: none;
  letter-spacing: 2px;
}

a {
  text-decoration: none;
  color: black;
}

#rmv-btn {
  color: red;
}
